<p>Hi {{ user.username }},</p>
<p>Thanks for registering. Please click the link below to activate your account:</p>
<p>
  <a href="http://{{ domain }}{% url 'activate' uidb64=uid token=token %}" 
     style="display:inline-block;padding:10px 20px;background:#28a745;color:#fff;text-decoration:none;border-radius:5px;">
    Activate Your Account
  </a>
</p>
<p>If the button doesn’t work, copy and paste this link into your browser:</p>
<p>http://{{ domain }}{% url 'activate' uidb64=uid token=token %}</p>
